.sign_up
  = render "registration_header"
  - breadcrumb :new_user
  = breadcrumbs pretext: "",separator: " &rsaquo; "
  .form
    .form__upper
      %h2
        会員情報入力
    .form__lower
      .lower-contents
        = form_for(@user, url: user_registration_path) do |f|
          .form__lower-group
            = f.label :ニックネーム
            %span.form__lower-group--require
              必須
            = f.text_field :nickname, autofocus: true, autocomplete: true, placeholder: "例)フリマ太郎", class: "input input-text form__lower-group-nickname"
          .form__lower-group
            = f.label :メールアドレス
            %span.form__lower-group--require
              必須
            = f.email_field :email, autofocus: true, autocomplete: true, placeholder: "PC・携帯どちらでも可", class: "input input-text form__lower-group-address"
          .form__lower-group
            - if @sns_id.present?
              = hidden_field_tag :sns_auth, true
            - else
              .field
                = f.label :パスワード
                %span.form__lower-group--require
                  必須
                = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上の半角英数字", class: "input input-text form__lower-group-password", minlength: "7"
              .field
                = f.label :パスワード再入力
                %span.form__lower-group--require
                  必須
                = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード再確認", class: "input input-text form__lower-group-password_confirmation"
          .form__lower-group
            %p.verification
              本人確認
            %p.attention
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .form__lower-group
            = f.label :お名前（漢字）
            %span.form__lower-group--require
              必須
            .form__lower-block
              = f.text_field :l_name, placeholder: "例)山田", class: "input input-text form__lower-group-name"
              = f.text_field :f_name, placeholder: "例)彩", class: "input input-text form__lower-group-name"
          .form__lower-group
            = f.label :お名前（ひらがな全角）
            %span.form__lower-group--require
              必須
            .form__lower-block
              = f.text_field :l_name_kana, placeholder: "例)やまだ", class: "input input-text form__lower-group-name"
              = f.text_field :f_name_kana, placeholder: "例)あや", class: "input input-text form__lower-group-name"
          .form__lower-group
            = f.label :生年月日入力
            %span.form__lower-group--require
              必須
            .form__lower-block
              .form__lower-block-select
                = raw sprintf(                      |
                  f.date_select(                    |
                    :birthday,                      |
                    prompt: "--",                   |
                    use_month_numbers: true,        |
                    end_year: 1900,                 |
                    start_year: (Time.now.year),    |
                    date_separator: '%s'),          |
                  '年 ', '月 ') + '日'               |
            %p
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            .form__lower-group.actions
            = f.submit "次へ", class: "input input-text form__lower-group--submit"
            %p.notice
              「次へ」のボタンを押すことにより、
              = link_to '#' do
                = '利用規約'
              %p
                に同意したものとみなします
  .footer
    = render "footer"