.wrapper
  .header
    = render "header"
  .main-content
    = render "main-title"
    = render "top-introduction"
    = render "middle-links"
    = render "characteristic"
  .pick-ups
    .pick-up__category
      = render "pick-up-category"
    .pick-up__brand
      = render "pick-up-brand"