.wrapper
  .upper_content
    = render "products/shared/header"
    = render "users/shared/side_bar"
    = render "like_list"
    = render "users/shared/exhibition-btn"
  = render "products/shared/footer"