.wrapper
  .upper_content
    = render "products/shared/header"
    = render "users/shared/side_bar"
    = render "users/shared/log_out"
    = render "users/shared/exhibition-btn"
= render "products/shared/footer"