.top-header
  .header-bar
    .header-bar__upper-side
      .header-bar__upper-side__main-icon
        = link_to image_tag('material/logo/logo.png', alt: "FURIMA-icon", class: 'main-logo-icon'), root_path, width: "140px"
      .header-bar__upper-side__search-word-input-form
        = form_with(url: search_products_path, local: true, method: :get, class: "header-bar__upper-side__search-word-input-form") do |form|
         = form.text_field :search, "", placeholder: "キーワードから探す", class: "input-form"
          .submit-btn
            = form.submit class: "submit-btn"
            = image_tag src='material/icon/icon-search1.png', alt: 'sending-btn', height: '100%', width: '100%', class: "submit-btn-icon"

    .header-bar__menu-bar

      .header-bar__menu-bar__left-side
        .header-bar__menu-bar__left-side__category-box
          %li.list
            = link_to '#' do
              = icon('fas', 'fas fa-list-ul', class: 'icon')
              ="カテゴリーから探す"
            %ul.category1
              - @parents.each do |parent|
                %li.parent__list
                  = link_to parent.name
                  %ul.category2
                    - parent.children.each do |child|
                      %li.child__list
                        =link_to child.name
                        %ul.category3
                          - child.children.each do |grandchild|
                            %li.grandchild__list
                              = link_to grandchild.name
        %li.brand-tab
          = link_to "ブランド", "", class: "menu-bar__brand"
      - if user_signed_in?
        %ul.header-bar__menu-bar__right-side
          %li.login-tab
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu-bar__log-out"
          %li.new-member-registraion-tab
            = link_to "マイページ", users_path(current_user.id), class: "mypage1"
      - else
        %ul.header-bar__menu-bar__right-side
          %li.login-tab
            = link_to "ログイン", user_session_path, class: "menu-bar__log-in"
          %li.new-member-registraion-tab
            = link_to "新規会員登録", new_user_registration_path, class: "menu-bar__new"
          
          