.sign_up
  = render "header"
  .main
    .login-form
      .login-form__upper
        %p
          アカウントをお持ちでない方はこちら
        = link_to new_user_registration_path do
          = '新規会員登録'
      .login-form__lower
        = form_with model: @user, local: true, url: user_session_path, id: 'new_user', class: 'new_user' do |f|
          .login-form__lower-group
            = f.email_field :email, placeholder: "メールアドレス", class: "input input-text login-form__lower-group-address"
          .login-form__lower-group
            = f.password_field :password, placeholder: "パスワード", class: "input input-text login-form__lower-group-password"
          .login-form__lower-group
            = recaptcha_tags
          .login-form__lower-group.actions
            = f.submit "ログイン", class: "input input-text login-form__lower-group--submit"
          .login-form__lower-group
            = link_to new_user_password_path do
              = 'パスワードをお忘れの方'
  .footer
    = render "footer"