.sign_up
  = render "header"
  .main
    .login-form
      .login-form__upper
        %p
          アカウントをお持ちでない方はこちら
        = link_to new_user_registration_path do
          = '新規会員登録'
      .login-form__lower
        .login-form__lower-group
          %input.input-text{type: "email", placeholder: "メールアドレス", class: "login-form__lower-group-address"}
        .login-form__lower-group
          %input.input-text{type: "email", placeholder: "パスワード", class: "login-form__lower-group-password"}
        .login-form__lower-group
          = image_tag src="/assets/reCAPTCHA.png", class: "login-form__lower-group-image"
        .login-form__lower-group
          %input.input-text{type: "submit", value: "ログイン", class: "login-form__lower-group--submit"}
        .login-form__lower-group
          = link_to new_user_password_path do
            = 'パスワードをお忘れの方'
  .footer
    = render "footer"