// frm_appのヘッダー部分のマークアップ
%footer
  .image__area
    .image__area--text
      %span.introduce だれでもかんたん、人生を変えるフリマアプリ
      %br
        今すぐ無料ダウンロード！
    .image__area--link
      =link_to image_tag('material/logo/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg', height: "60px", width: "190px", class: "image__area--link-apple")
      =link_to image_tag('material/logo/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', height: "60px", width: "190px", class: "image__area--link-google")
  .information__area 
    .information__area--contents
      .information__area--content
        %p.content
          FURIMAについて
        %ul.content-list
          %li.list
            = link_to "会社概要(運営会社)", '#' 
          %li.list
            = link_to "プライバシーポリシー", '#' 
          %li.list 
            = link_to "利用規約", '#'      
          %li.list
            = link_to "ポイントに関する特約", '#'
        
      .information__area--content
        %p.content
          FURIMAを見る
        %ul.content-list
          %li.list 
            = link_to "カテゴリー一覧", '#'
          %li.list
            = link_to "ブランド一覧", '#'

      .information__area--content
        %p.content
          ヘルプ＆ガイド
        %ul.content-list
          %li.list
            = link_to "FURIMAガイド", '#'
          %li.list
            =link_to "FURIMAロゴ利用ガイドライン", '#'
          %li.list 
            = link_to "お知らせ", '#'
    .footer__logo
      =link_to image_tag('material/logo/logo-white.png', alt: "logo", class: "footer__logo--frima", height: "50", width: "150")
      %br 
        .copy-write ©️FURIMA