.sign_up
  = render partial:"devise/header" 
  - breadcrumb :edit_product
  = breadcrumbs pretext: "",separator: " &rsaquo; " 
  %main.shipping_main
    %section.shipping_main-container
      .goods_main-inner
        .goods_main-header
          %h2.goods_main-header-text
            商品の情報を入力
        = form_with model: @product,local: true do|f|
          .goods_info
            %section.l-shipping_goods_info
            .goods_form

              .goods_form-image.clearfix
                %h2.goods_form_image-title
                  %h2.label 出品画像
                  %span.must_check 必須
                %br
                %p.goods_form-image-text 最大１０枚までアップロードできます
                .about
                  .box
                    .inner
                      .field#js_field
                        - @product.images.each_with_index do |img, num|
                          =f.check_box :_destroy, class:"hidden_destroy destroy_btn-check",name:"product[images_attributes][#{num}][_destroy]", data:{id:num}
                          =f.hidden_field :id, value: img.id, name:"product[images_attributes][#{num}][id]"
                          .margin_img{id:"margin_#{num}"}
                            .nest_img
                              =image_tag img.images.url,class:"img img_edit",id:"preview_#{num}"
                              .edit_image_btn
                                .destroy_btn{data:{id:num}} 削除
                                .edit_btn{id:"#{num}"}
                                  =f.file_field :images,class: "image_edit-field",accept:"image/*",id:"image_#{num}",name:"product[images_attributes][#{num}][images]",data:{id:num}
                                  =f.hidden_field :id, value: img.id, name:"product[images_attributes][#{num}][id]"
                                  %p.image_edit-text 編集


              .goods_form-explain.clearfix
                %h2.label 商品名
                %span.must_check 必須
                .goods_form-explain-title
                  =f.text_field :name, placeholder:"商品名（必須40文字まで)",class:"goods_form-explain-field", required: true
                %br
                %h2.label 商品の説明
                %span.must_check 必須
                .goods_form-explain-text
                  =f.text_area :detail, placeholder:"商品の説明(必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例：2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",class:"goods_form-explain-area", required: true

              .goods_form-detail.clearfix
                %h3.goods_form-detail-title 商品の詳細
                .goods_form-detail-div
                  .goods_form-detail-category
                    %h2.label カテゴリー
                    %span.must_check 必須
                    .goods_form-detail-category-list
                      = f.select :parent_name, @category_parent_array, {selected:@product.category.parent.parent.name}, {class: 'listing-select-wrapper__box--select', id:  'parent_category', name: ''}
                    .goods_form-detail-category-list#children_wrapper
                      = f.select :child_id, options_for_select(@category_children_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "---", selected: @product.category.parent.id}),{}, {class: 'listing-select-wrapper__box--select', id:  'child_category', name: ''}
                    .goods_form-detail-category-list#grandchildren_wrapper
                      = f.select :category_id, options_for_select(@category_grandchildren_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "---", selected: @product.category.id}),{},{class: 'listing-select-wrapper__box--select', id:  'grandchild_category', name: 'product[category_id]'}
                  %br
                  .goods_form-detail-bland
                    %h2.label ブランド
                    %span.must_check 任意
                    %br
                    = f.select :brand_id, [["シャネル",1],["ナイキ",2],["ユニクロ",3],["GU",4]], { include_blank: "選択して下さい"}, { class: 'goods_form-fee-price-list'}
                  %br
                  .goods_form-detail-status
                    %h2.label 商品の状態
                    %span.must_check 必須
                    %br
                    = f.select :condition, [["新品、未使用","新品、未使用"],["未使用に近い","未使用に近い"],["目立った傷や汚れ無し","目立った傷や汚れ無し"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"]], { include_blank: "選択して下さい"}, { class: 'goods_form-fee-price-list', required: true}

              .goods_form-fee.clearfix
                %h3.goods_form_fee-title 配送について
                .goods_form-fee-div
                  .goods_form-fee-price
                    %h2.label 配送料の負担
                    %span.must_check 必須
                    %br
                    = f.select :fee_payer, [["送料込み(出品者負担)", "出品者負担"],["着払い(購入者負担)", "購入者負担"]], { include_blank: "選択して下さい"}, { class: 'goods_form-fee-price-list', required: true}
                  %br
                  .goods_form-fee-adress
                    %h2.label 発送元の地域
                    %span.must_check 必須
                    %br
                    = f.collection_select :prefecture_id,Prefecture.all, :id, :name , { include_blank: "選択して下さい"}, { class: 'goods_form-fee-price-list', required: true}
                  %br
                  .goods_form-fee-blank
                    %h2.label 発送までの日数
                    %span.must_check 必須
                    %br
                    = f.select :delivery, [["1~2日で発送","1~2日で発送"],["2~3日で発送","2~3日で発送"],["4~7日で発送","4~7日で発送"]], { include_blank: "選択して下さい"}, { class: 'goods_form-fee-price-list', required: true}

              .goods_form-price.clearfix
                %h3.goods_form-price-number 販売価格(300~9,999,999)
                %ul.goods_form-price-list
                  %li.goods_form-price-list-list1
                    .goods_form-price-list-list1-title
                      %label.goods_form-price-list-list1-title-label
                        %h2.label 価格
                        %span.must_check 必須
                    .goods_form-price-list-list1-input
                      ¥
                      .goods_form-price-list-list1-input-box
                        =f.text_field :price, placeholder:"例) 300",class:"goods_form-price-list-list1-input-box-field",required: true;
              .goods_form-send
                .goods_form-send-term
                  %p
                    禁止されている出品、行為を必ずご確認ください。
                  %p
                    またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
                  %p
                    また、出品をもちまして加盟店規約に同意したことになります。

                =f.submit value:"完了する",class:"edit_send-btn"
                %br
                = link_to "戻る", root_path, class:'goods_form-send-graybtn'
    .footer
      = render partial:"devise/footer"