.wrapper
  .top-page-header
    = render "products/shared/header"
  .main-content
    = render "products/index/main-title"
    = render "products/index/top-introduction"
    = render "products/index/middle-links"
    = render "products/index/characteristic"
  .pick-ups
    .pick-up__category
      = render "products/index/pick-up-category"
    .pick-up__brand
      = render "products/index/pick-up-brand"
  .exhibition
    = render "products/shared/exhibition-btn"
