.wrapper
  .top-page-header
    = render "products/shared/header"
  .main-content
    = render "products/top_page/main-title"
    = render "products/top_page/top-introduction"
    = render "products/top_page/middle-links"
    = render "products/top_page/characteristic"
  .pick-ups
    .pick-up__category
      = render "products/top_page/pick-up-category"
    .pick-up__brand
      = render "products/top_page/pick-up-brand"
  .exhibition
    = render "products/shared/exhibition-btn"

  = render "products/shared/footer"