// frm_appの商品詳細ページのマークアップ
.top-page-header
  = render "products/shared/header"
  
.goods__details
  .goods__details--title 
    = @product.name
  .goods__details--summary
    = "#{@product.name}は#{@product.user.nickname}さんから出品されました。"
  .goods__details--mains
    .goods__details--mains--images
      .active-image
      .each-images
        =image_tag @image.image, class: "each-image active"
    .goods__details--mains--table
      %table{ border: "1", bordercolor: "#cccccc"}
        %tr 
          %td.left-data{height: "40"} 出品者
          %td.right-data 
            = @product.user.nickname
        %tr  
          %td.left-data{height: "40"} カテゴリー
          %td.right-data メンズ 靴 スニーカー
        %tr
          %td.left-data{height: "40px"} ブランド
          %td.right-data ナイキ
        %tr  
          %td.left-data{height: "40px"}  商品のサイズ
          %td.right-data 26.5cm
        %tr
          %td.left-data{height: "40px"}  商品の状態
          %td.right-data 
            = @product.condition
        %tr
          %td.left-data{height: "40px"}  配送料の負担
          %td.right-data 送料込み（出品者負担）
        %tr
          %td.left-data{height: "40px"} 配送の方法
          %td.right-data 郵便局
        %tr
          %td.left-data{height: "40px"}  配送元地域
          %td.right-data  
            = @product.delivery_area
        %tr
          %td.left-data{height: "40px"}  発送日の目安
          %td.right-data 2~3日

  .goods__details--price
    %span 
      = "¥#{@product.price}円" 
    (税込)送料込み

  // -if user_signed_in? && current_user_id == products.user_id
  //   .goods__details--buybtn
         = link_to "商品の編集", "#", class: "btn1"
         = link_to "出品の取り消し", "#", class: "btn2"
     -else

  .goods__details--buybtn
    = link_to "購入画面にすすむ", 'buy', class: "btn"
      
  .goods__details--comment
    まだまだ使えます。
  .goods__details--else
    %button.good-btn
      いいね!　2
    %button.report-btn
      不適切な商品の報告
    = link_to '#', class: "safety-rule" do
      %i.fas.fa-lock.lock-icon 
      = "安心・安全への取り組み"

.page
  .around__goods
    = link_to "< playstatino4", "#", class: "after-goods"
    = link_to "nintendo64 >", "#", class: "before-goods"

  .icon__area
    = form_with model: @comment do |form|
      = form.text_area :body, class: "comment-form", size: "70x4"
    .comment-submit
      = link_to "コメントを投稿する", "#", class: "submit-btn"

  .related__goods
    .related__goods--username
      usernameさんのその他の出品
    .related__goods--images
      .related__goods--image
        .related__goods--image-foto
          foto
        .related__goods--image-name
          name
        .related__goods--image-price
          price
      .related__goods--images
        .related__goods--image
          .related__goods--image-foto
            foto
          .related__goods--image-name
            name
          .related__goods--image-price
            price
      .related__goods--images
        .related__goods--image
          .related__goods--image-foto
            foto
          .related__goods--image-name
            name
          .related__goods--image-price
            price

    .related__goods--category
      nikeスニーカーのその他の出品
    .related__goods--images
      .related__goods--image
        .related__goods--image-foto
          foto
        .related__goods--image-name
          name
        .related__goods--image-price
          price
      .related__goods--images
        .related__goods--image
          .related__goods--image-foto
            foto
          .related__goods--image-name
            name
          .related__goods--image-price
            price
      .related__goods--images
        .related__goods--image
          .related__goods--image-foto
            foto
          .related__goods--image-name
            name
          .related__goods--image-price
            price

= render "products/shared/footer"
